.JobCard {
    min-width: 200px;
    max-width: 350px;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    gap: 15px;
    flex-shrink: 0;
}

.JobCard .saveButton {
    border: none;
    background-color: transparent;
}

.JobCard .saveButton:focus {
    outline: none;
}

@media (max-width:768px) {
    .JobCard {
        max-width: none;
    }

}