.Input {
    width: 100%;
    padding: 5px 0;
    background-color: transparent;
    border: none;
    color: var(--light-text-color);
    font-size: 0.9rem;
}

.Input::placeholder {
    color: var(--text-color);
}

.Input:focus,
.Input.focus-within {
    outline: none;
}