.Navbar {
    width: 100%;
    padding: 20px 0;
    background-color: var(--navbar-background);

}

.Navbar .overlay {
    position: fixed;
    width: 100vw;
    height: 100dvh;
    left: 0;
    top: 0;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.288);
}


.Navbar .content {
    max-width: 1600px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 55px;

}

.Navbar .content .logoContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.Navbar .content .logoContainer .drawer {
    display: none;
    margin-right: 15px;
    align-items: center;
}

.Navbar .navlinks {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 25px;
}


@media (max-width:991px) {
    .Navbar .navlinks {
        font-size: 14px !important;
    }
}

@media (max-width:991px) {
    .Navbar .navlinks {
        display: none;
    }
}


.Navbar .crumpsContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;

}

.Navbar .crumpsContainer .searchBar {
    max-width: 250px;
}

.Navbar .crumpsContainer .profileIcon {
    width: 48px;
    border-radius: 100%;
    border: none;

}

.Navbar .crumpsContainer .profileImage {
    border-radius: 50%;
    object-fit: cover;
}


@media (max-width:1400px) {
    .Navbar {
        padding: 20px 40px;
    }

    .Navbar .content {
        justify-content: space-between;
    }
}

@media (max-width:1400px) and (min-width:992px) {

    .Navbar .crumpsContainer .searchBar,
    .Navbar .crumpsContainer .resumeButton {
        display: none;
    }
}

@media (max-width:991px) {
    .Navbar {
        padding: 10px 20px;
    }

    .Navbar .content .logoContainer .drawer {
        display: flex;
    }

    .Navbar .navlinks {
        display: none;
    }


}

@media (max-width:768px) {
    .Navbar .crumpsContainer .searchBar {
        display: none;
    }
}